doctype 5
html(lang="en")
  head
    link(href='/stylesheets/application.css', rel='stylesheet', type='text/css')
    script(src='/javascripts/application.js')
    script
      (function() {
        var $ = require('component-jquery')
          , Backbone = require('solutionio-backbone');

        Backbone.$ = $;

        $(function() {
          var TodoList = require('backbone-component/src/views/todo-list')

          new TodoList({ el: '#todo-list', input: $('#create-todo') });
        });
      }());
  body
    input#create-todo
    ul#todo-list
